:root {
    --site-plano-de-fundo: #FFF;
    
    --componentes-neutro-fundo: #f5f5f5;
    --componentes-neutro-borda: rgb(206, 206, 206);

    --componentes-foco-fundo: #EEE;
    --componentes-foco-borda: gray;

    --outros-hover-fundo: azure;

    --outros-erro-fundo: rgb(255, 221, 221);
    --outros-erro-borda: red;

    --texto-warn-fundo: rgb(199, 213, 255);
    --texto-warn-frente: black;
}