@import url('Esquemas de cores/tema-claro.css');

form {
    width: fit-content;
    margin: auto;
}

fieldset {
    border-style: none;
    margin: auto;
    margin-bottom: 1.2rem;
}

fieldset:last-of-type {
    border-bottom: 1px solid var(--componentes-neutro-borda);
}

input {
    border-style: none;
    border-radius: 5px;
}

input:not([type="submit"]) {
    display: block;
    margin: 0 0 15px 0;
    padding: .5rem;

    width: 40ch;
    height: 1.8rem;

    background-color: var(--componentes-neutro-fundo);
    border: 1px solid var(--componentes-neutro-borda);
}

input:not([type="submit"]):focus {
    background-color: var(--componentes-foco-fundo);
    outline: 1px solid var(--componentes-foco-borda);
}

input[type="submit"] {
    display: block;
    margin: auto;
    height: 2rem;
    width: 20vw;

    font-family: Roboto;
    letter-spacing: .15ch;
    font-size: 15px;
    transition: background-color .2s;
}