/* Fontes */
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

/* Folhas de estilo internas */
@import url(texto.css);
@import url(formulario.css);
@import url(tabela.css);

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;

    /* outline: red 1px solid; */
    font-family: 'Montserrat', Arial, Helvetica, sans-serif;
}

body {
    margin: 55px;
}